{% load static %}
{% include "navbar.html" %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

    {% if categories %}
    <div class="container">
        {% for category in categories %}
        <div class="box">
            {% if category.category_image %}
                <img src="{{ category.category_image.url }}" alt="{{ recipe.name }}">
            {% else %}
                <img src="{% static 'images/download.png' %}" alt="Default Image">
            {% endif %}
            <p class="name">{{ category.name }}</p>
            <a href="{% url 'category_display' category.id %}"><button>More</button></a>
        </div>
        {% endfor %}
    </div>
{% endif %}
    
