{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% include 'navbar.html' %}

{% if foods %}
    <div class="container">
        {% for food in foods %}
        <div class="box">
            {% if food.recipe_image %}
                <img src="{{ food.recipe_image.url }}" alt="{{ food.name }}">
            {% else %}
                <img src="{% static 'images/download.png' %}" alt="Default Image">
            {% endif %}
            <p class="name">{{ food.name }}</p>
            <p class="description">{{ food.discription }}</p>
            <a href="{% url "recipedetail" recipe.name %}"><button >View Recipe</button></a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>category not found </p>
{% endif %}
