{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% include 'navbar.html' %}

{% if recipies %}
    <div class="container">
        {% for recipe in recipies %}
        <div class="box">
            {% if recipe.recipe_image %}
                <img src="{{ recipe.recipe_image.url }}" alt="{{ recipe.name }}">
            {% else %}
                <img src="{% static 'images/download.png' %}" alt="Default Image">
            {% endif %}
            <p class="name">{{ recipe.name }}</p>
            <p class="description">{{ recipe.discription }}</p>
        </div>
        {% endfor %}
    </div>
{% endif %}
