{% load static %}
{% include "navbar.html" %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div class="profile-container">
    <div class="profile-card">
        <h2>{{ request.user.username }}</h2>
        <p>{{ request.user.email }}</p>
        <a href="{% url 'addrecipe' %}">
            <button id="add-recipe">Add Recipe</button>

        </a>
    </div>

    <div class="table-container">
        {% if user_recipes %}
        <table class="styled-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Recipies</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in user_recipes %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ recipe.name }}</td>
                    <td>
                        <a href="{% url 'recipedetail' recipe.name %}">
                            <button class="view-btn">View</button>
                        </a>
                        <a href="{% url 'delete_recipe' recipe.id %}" onclick="return confirm('Are you sure?');">
                            <button class="del-btn">Del</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        
        {% else %}
        <p style="text-align: center;">No recipes found.</p>
        {% endif %}
    </div>
</div>
